/* Base body styles */ 
body {
    font-family: 'Cambria', cursive, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #ff6f61, #ffcc00);
    color: #333;
    animation: backgroundAnimation 10s infinite alternate;
}

@keyframes backgroundAnimation {
    0% {
        background: linear-gradient(45deg, #ff6f61, #ffcc00);
    }
    100% {
        background: linear-gradient(45deg, #ffcc00, #ff6f61);
    }
}

/* Header styles */
header {
    background: linear-gradient(45deg, #333, #ff6f61);
    color: #fff;
    padding: 2em 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-bottom: 5px solid #ffcc00;
    animation: headerAnimation 5s infinite alternate ease-in-out;
}

@keyframes headerAnimation {
    0% {
        background: linear-gradient(45deg, #333, #ff6f61);
    }
    100% {
        background: linear-gradient(45deg, #ff6f61, #333);
    }
}

/* Navigation Styles */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    color: #ffcc00;
    transform: scale(1.1);
}

/* Section Styles */
section {
    padding: 3em;
    margin: 2em 0;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 2px solid #ff6f61;
    animation: sectionAnimation 5s infinite alternate ease-in-out;
}

@keyframes sectionAnimation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

/* Gallery Styles */
.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
    animation: galleryAnimation 5s infinite alternate ease-in-out;
}

@keyframes galleryAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.8;
    }
}

.gallery img {
    width: 100%;
    max-width: 400px; /* Max width for larger screens */
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

/* Footer Styles */
footer {
    background: linear-gradient(45deg, #333, #ff6f61);
    color: #fff;
    text-align: center;
    padding: 2em 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
    border-top: 5px solid #ffcc00;
    animation: footerAnimation 5s infinite alternate ease-in-out;
}

@keyframes footerAnimation {
    0% {
        background: linear-gradient(45deg, #333, #ff6f61);
    }
    100% {
        background: linear-gradient(45deg, #ff6f61, #333);
    }
}

/* Responsiveness for smaller screens */
@media screen and (max-width: 768px) {
    /* Adjust section padding and gallery layout */
    section {
        padding: 2em;
    }

    .gallery {
        justify-content: center;
    }

    .gallery img {
        width: 80%; /* Reduced image size */
        max-width: 100%;
    }

    /* Stack navigation links vertically */
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 1em 0;
    }
}

@media screen and (max-width: 480px) {
    .gallery img {
        width: 100%; /* Full width for small screens */
        max-width: 100%;
    }

    header, footer {
        padding: 1em 0;
    }

    section {
        padding: 1.5em;
    }
}
 <style>
        /* Styles pour la mise en page et la responsivité */
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f9;
        }

        header {
            text-align: center;
            background-color: #ff6f61;
            padding: 20px 0;
        }

        header h1 {
            margin: 0;
            font-size: 2.5em;
            color: #fff;
        }

        header img {
            max-width: 150px;
            height: auto;
            margin-top: 20px;
            transition: transform 0.3s ease-in-out;
        }

        header img:hover {
            transform: scale(1.1);
        }

        nav {
            text-align: center;
            margin-top: 10px;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            background-color: #333;
            padding: 10px 20px;
            margin: 10px;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        nav a:hover {
            background-color: #ffcc00;
        }

        section, form {
            padding: 20px;
            margin: 20px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        fieldset {
            border: 1px solid #ff6f61;
            padding: 20px;
            border-radius: 8px;
            margin-bottom: 20px;
        }

        legend {
            font-weight: bold;
            color: black;
        }

        .field {
            margin-bottom: 15px;
        }

        .field label {
            font-weight: bold;
        }

        input[type="text"], input[type="tel"], input[type="email"], input[type="password"], select, textarea {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 1em;
        }

        button {
            background-color: #ff6f61;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 1.1em;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #ffcc00;
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px 0;
            position: fixed;
            width: 100%;
            bottom: 0;
        }

        footer p {
            margin: 0;
        }

        /* Styles Responsives */
        @media (max-width: 768px) {
            header h1 {
                font-size: 2em;
            }

            header img {
                max-width: 120px;
            }

            .field input, .field select, .field textarea {
                font-size: 0.9em;
            }

            button {
                font-size: 1em;
                padding: 8px 16px;
            }
        }
		/* Style spécifique pour le tableau des horaires */
#sec1 table {
    width: 100%;
    border-collapse: collapse;  /* Supprime les espaces entre les bordures */
    margin-top: 2em;
    background-color: #ffffff;  /* Fond du tableau */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Légère ombre */
}

#sec1 thead {
    background-color: #ff6f61;
    color: white;
}

#sec1 thead th {
    padding: 12px;
    font-size: 1.1em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid #ffcc00;  /* Bordure fine et dorée */
}

#sec1 tbody td {
    text-align: center;
    padding: 12px;
    font-size: 1.1em;
    color: #333;
    background-color: #f9f9f9;
    border: 1px solid #ddd;  /* Bordure fine */
}

#sec1 tbody tr:nth-child(even) td {
    background-color: #f0f0f0;  /* Fond différent pour les lignes paires */
}

#sec1 tbody tr:hover td {
    background-color: #ffcc00;  /* Surbrillance au survol */
    color: white;
}

/* Ajout de styles pour l'alignement et la lisibilité */
#sec1 table th, #sec1 table td {
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  /* Légères ombres */
}

/* Responsivité pour petits écrans */
@media (max-width: 768px) {
    #sec1 table, #sec1 th, #sec1 td {
        font-size: 0.9em;  /* Réduire la taille des polices sur petits écrans */
    }

    #sec1 td {
        padding: 10px;  /* Moins d'espacement pour les petits écrans */
    }
}